{% extends 'partials/base.html' %}

{% block title %}

{% endblock %}

{% block content %}
<h3>Hello Below are the list of all your tasks</h3>
<a href="{% url 'taskCreate' %}">Create Task</a>  . <a href="{% url 'cartegoryCreate' %}">Create Cartegory</a>
. <a href="{% url 'cartegoryList' %}">Cartegory List</a>
<br>
<p></p>
<table border="1">
    <thead>
        <th>#</th>
        <th>Title</th>
        <th>Cartegory</th>
        <th>Description</th>
        <th>Action</th>
    </thead>
    <tbody>
        {% for task in tasks %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ task.title }}</td>
                <td>{{ task.category }}</td>
                <td>{{ task.description }}</td>
                <td>
                    <a href="{% url 'editTask' task.id %}">Edit</a>
                    <a href="{% url 'deleteTask' task.id %}">Delete</a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}